{% from "macros.html" import render_table %}

<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
    <title>Здания и сооружения</title>
</head>
<body>
  <a id="top"></a>
  <h1>
    Самые высокие здания и сооружения
  </h1>

  <nav class="menu">
    <ul>
        <li><a href="#types">Типы зданий</a></li>
        <li><a href="#buildings">Здания</a></li>
        <li><a href="#stats-type">Статистика по типам</a></li>
        <li><a href="#stats-country">Статистика по странам</a></li>
    </ul>
</nav>

  <h2 id="types">Типы зданий</h2>
  {{ render_table(type_buildings_head, type_buildings_body) }}

  <h2 id="buildings">Здания</h2>
  {{ render_table(buildings_head, buildings_body) }}

  <h2 id="stats-type">Статистика по типам зданий</h2>
  {{ render_table(stats_type_head, stats_type_body) }}

  <h2 id="stats-country">Статистика по странам</h2>
  {{ render_table(stats_country_head, stats_country_body) }}

  <a href="#top" class="back-to-top">⬆ Наверх</a>
</body>
</html>